.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.board {
  width: 640px;
  height: 640px;
  background-color: darkgreen;
}

.cell {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border: 1px solid #000;
}

.stone {
  width: 56px;
  height: 56px;
  background-color: white;
  border-radius: 50%;
}

.valid {
  width: 30%;
  height: 30%;
  background-color: crimson;
  border-radius: 50%;
}

.now {
  margin-right: 500px;
  margin-bottom: 0.5rem;
  font-size: larger;
  color: black;
  text-align: left;
}

.piece {
  margin-right: 200px;
  font-size: larger;
  color: #000;
}

@media screen and (width <=600px) {
  .board {
    width: 90vw;
    height: 90vw;
  }

  .cell {
    width: calc(90vw / 8);
    height: calc(90vw / 8);
  }

  .stone {
    width: 70%;
    height: 70%;
  }

  .valid {
    width: 25%;
    height: 25%;
  }

  .piece,
  .now {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    text-align: center;
  }
}
