.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.board {
  width: 640px;
  height: 640px;
  background-color: darkgreen;
}

.cell {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border: 1px solid #000;
}

.stone {
  width: 56px;
  height: 56px;
  background-color: white;
  border-radius: 50%;
}

.valid {
  width: 30%;
  height: 30%;
  background-color: crimson;
  border-radius: 50%;
}

.now {
  margin-right: 500px;
  margin-bottom: -27.5px;
  font-size: larger;
  color: black;
  text-align: left;
}

.piece {
  margin-right: 200px;
  font-size: larger;
  color: #000;
}
